/* Стили для тела */
body {
    background-color: #ffffe0;
    font-size: 10pt;
    color: #000000;
}

/* Стили для заголовков */
h1, h2 {
    text-align: center;
    color: #cc0000;
    font-size: 12pt;
}

/* Стили для курсива */
.text-italic {
    font-style: italic;
}